<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Quiz</title>
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <div class="container">
        <div id="home" class="flex-center flex-column">
            <h1>CÔNG NGHỆ PHẦN MỀM</h1>
            <div class="chapter-grid">
                <a class="btn" href="./game.html#chap1_2" id="chap1_2">Chương 1 + 2</a>
                <a class="btn" href="./game.html#chap3" id="chap2">Chương 3</a>
                <a class="btn" href="./game.html#chap4" id="chap3">Chương 4</a>
                <a class="btn" href="./game.html#chap5" id="chap4">Chương 5</a>
                <a class="btn" href="./game.html#chap6" id="chap5">Chương 6</a>
                <a class="btn" href="./game.html#chap7" id="chap6">Chương 7</a>
                <a class="btn" href="./game.html#chap8" id="chap7">Chương 8</a>
                <a class="btn" href="./game.html#chap9" id="chap8">Chương 9</a>
                <a class="btn" href="./game.html#chap10" id="chap8">Chương 10</a>
                <a class="btn" href="./game.html#chap11" id="chap8">Chương 11</a>
                <a class="btn" href="./game.html#chap12_13" id="chap8">Chương 12 + 13</a>
                <a class="btn" href="./game.html#chap14_15" id="chap8">Chương 14 + 15</a>
            </div>

        </div>
    </div>
</body>
</html>